
body{
    background-image: url(LandImg/side.jpg), url(LandImg/center.JPG), url(LandImg/down.jpg);
    background-color: #cccccc;
    height: 500px;
    width: 20px, 20px, 800px;
    background-position: 1000px 0px, 400px -300px, -250px -300px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 800px, 700px, 900px;
    position: relative;
    display: flex;
    }   

nav{
    position: relative;
    width: 1689px;
    height: 538px;

}

.heading2{
    position: absolute;
    width: 1603px;
    height: 800px;
    
    font-family: Athelas;
    font-style: normal;
    font-weight: bold;
    font-size: 300px;
    line-height: 336px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    color: #FFFFFF;
    
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.heading{
    position: absolute;
    width: 1603px;
    height: 700px;
    
    font-family: Athelas;
    font-style: normal;
    font-weight: bold;
    font-size: 300px;
    line-height: 336px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    color: rgba(255, 255, 255, 0.3);
    
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(231, 226, 226, 0.267);
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

  
